h1{
	color:white;
	padding-top:14% ;
	margin-right: 5%;
	font-size: 50px;
	text-align: right;

}
h2{
	color: red;
	text-align: right;
	margin-right: 5%;

}

h3{
	text-align: right;
}

body{
	background:url(../img/wall.jpg);
	background-size: cover;
	background-position: center;
	font font-family: monospace;

}

button{
 	
	margin-left: 5%;
	margin-top: 0%;
}
